$bp-small: 37.5em;  //// == 600px
$bp-smaller: 31.25em; // == 500px;
$bp-medium: 50em; //// == 800px


.layout {
	width: 100%;
	min-height: inherit;
	background: #E5E5E5;
	flex: 1;
	color: #14142B;
	display: flex;

	&-container {
   	min-height: 80%;
		margin: 11.4rem 8.3rem 4rem 4.5rem;

		display: flex;
		flex-direction: column;
		width: 100%;

		@media only screen and(max-width: $bp-small) {
			margin: 10rem 6rem 3rem 1.5rem;
		}

		@media only screen and(max-width: $bp-smaller) {
			margin: 7rem 4rem 2rem 2.2rem;
		}
	}

	&-heading {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 700;
		font-size: 3.2rem;
		line-height: 3.4rem;

		letter-spacing: .1rem;
	}

	&-dashboard {
		// display: flex;
		height: 100%;
		margin-top: 7.2rem;
	}
}

